<section class="challenge">
  <form [formGroup]="myform" validate>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        class="form-control"
        formControlName="firstName"
        type="text"
        required
      />
      <div
        class="form-control-feedback"
        *ngIf="
          myform.get('firstName').hasError('required') &&
          (myform.get('firstName').dirty || myform.get('firstName').touched)
        "
      >
        <p *ngIf="myform.get('firstName').hasError('required')">
          First Name is required
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        class="form-control"
        formControlName="lastName"
        type="text"
        required
      />
      <div
        class="form-control-feedback"
        *ngIf="
          myform.get('lastName').hasError('required') &&
          (myform.get('lastName').dirty || myform.get('lastName').touched)
        "
      >
        <p *ngIf="myform.get('lastName').hasError('required')">
          Last Name is required
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        formControlName="email"
        type="text"
        required
      />
      <div
        class="form-control-feedback"
        *ngIf="
          myform.get('email').hasError('required') &&
          (myform.get('email').dirty || myform.get('email').touched)
        "
      >
        <p *ngIf="myform.get('email').hasError('required')">
          Email is required
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input class="form-control" formControlName="phone" type="text" />
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">
        Submit
      </button>
      <div class="form-control-feedback">
        <p *ngIf="isSubmitPressed && myform.invalid">
          Please fill out the form.
        </p>
        <p *ngIf="apiError">
          API Error: Please try again or clean up your data.
        </p>
      </div>
    </div>
  </form>

  <section id="usersList">
    <input
      placeholder="Search user by first name or last name"
      [(ngModel)]="searchQuery"
      name="search"
    />
  </section>

  <div *ngIf="userList.length > 0">
    <h2>Users</h2>
    <ul>
      <li *ngFor="let user of filterUsers()">
        <p><strong>First Name:</strong> {{ user.firstName }}</p>
        <p><strong>Last Name:</strong> {{ user.lastName }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phoneLastFourDigits }}</p>
      </li>
    </ul>
  </div>
</section>
