<section class="challenge">
  <form [formGroup]="angForm" novalidate>
    <div class="form-group">
      <label for="firstName"> First Name </label>
      <input
        class="form-control"
        formClassName="firstName"
        type="text"
        required
      />
    </div>
    <div
      *ngIf="
        angForm.controls['firstName'].invalid &&
        (angForm.controls['firstName'].dirty ||
          angForm.controls['firstName'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="angForm.controls['firstName'].errors.required">
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName"> Last Name </label>
      <input
        class="form-control"
        formClassName="lastName"
        type="text"
        required
      />
    </div>
    <div
      *ngIf="
        angForm.controls['lastName'].invalid &&
        (angForm.controls['lastName'].dirty ||
          angForm.controls['lastName'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="angForm.controls['lastName'].errors.required">
        Last Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email"> Email </label>
      <input class="form-control" formClassName="email" type="text" required />
    </div>
    <div
      *ngIf="
        angForm.controls['email'].invalid &&
        (angForm.controls['email'].dirty || angForm.controls['email'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="angForm.controls['email'].errors.required">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="phone"> Phone Number </label>
      <input class="form-control" formClassName="phone" type="text" />
    </div>

    <div>
      <button type="button">Submit</button>
    </div>
  </form>

  <section id="usersList">
    <input placeholder="Search" name="search" />
    <div id="users"></div>
  </section>
</section>
