input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.form-control-feedback {
  color: red;
  top: 0;
}

.has-error .form-control {
  border-color: #a94442; /* Border color for error state */
  background-color: #f2dede; /* Background color for error state */
  color: #a94442; /* Text color for error state */
}

.has-error .form-control-feedback {
  color: #a94442; /* Text color for error state */
}
