<section class="challenge">
  <form>
    <label for="firstName">
      First Name
      <input type="text" name="firstName" required />
    </label>
    <label for="lastName">
      Last Name
      <input type="text" name="lastName" required />
    </label>
    <label for="email">
      Email
      <input type="text" name="email" required />
    </label>
    <label for="phone">
      Phone Number
      <input type="text" name="phone" />
    </label>
    <div>
      <button type="button">Submit</button>
    </div>
  </form>

  <section id="usersList">
    <input placeholder="Search" name="search" />
    <div id="users"></div>
  </section>
</section>
